@media screen and (max-width: 800px){
   body {
        .article-body {
            width: 90%;
            padding-left: 5px;
            padding-right: 5px;

        }
   }
}


.main-page {
    background-color: #1e1e1e;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

.article-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Courier New', Courier, monospace;
}

.article-body {
    border-style:solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    margin: 0 auto;
    width: 75%;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
}



a {
    color: #79c0ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.article-image {
    margin: 0 auto;
    display: block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-wrap:inherit;
}

th, td {
    padding: 10px;
    word-break:break-all;
    overflow-wrap: break-word;
}
code {
    color: grey;
}